/* Colors
Navy Blue: #000E2F;
White: #FFFFFF;
Grey: #7C878E;
Dark Red: #8A2121;
*/

body{
  background-color: #000E2F;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header  header"
    "main    aside"
    "footer  footer";

  margin-left:auto;
  margin-right: auto;
  max-width: 1000px;
}

header {
  grid-area: header;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 10px;
}

main {
  grid-area: main;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

aside {
  grid-area: aside;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  grid-area: footer;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  div.container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
  }
}

@media (max-width: 800px) {
h1 {
  font-size: 20px;
}
  table {
  padding-left: 7px;
  padding-right: 7px;
  }

  thead {
    display: none;
  }

  tr {
    border: 1px solid #aaaaaa;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
  }

  td {
    display: block;
    text-align: right;
  }

  td:before {
    content: attr(aria-label);
    float: left;
  }

   td.noshow {
   display: none;
   }
}

caption {
}

table {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-family: 'Raleway', sans-serif;
}

thead {
font-weight: bold;
}

tr {
color: #ffffff;
font-size: 14px;
}

tr.home {
  background-color: #aaaaaa;
  color: #ffffff;
  font-size: 14px;
}

tr.away {
  background-color: #7C878E;
  color: #ffffff;
  font-size: 14px;
}

tr.player {
  background-color: #7C878E;
  color: #ffffff;
  font-size: 14px;
}

th {
  background-color: #000E2F;
  color: #FEFEFE;
  padding: 7px;
}


td {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

td.games {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
}

img.border {
  border-radius: 50%;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.left {
  float: left;
  padding-left: 7px;
  margin-right: 8px;
  margin-bottom: 5px;
}

img.right {
  float: right;
  padding-left: 7px;
  margin-right: 8px;
  margin-bottom: 5px;
}

figure.right {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  float: left;
  padding-left: 7px;
  padding-bottom: 9px;
  margin-right: 8px;
  margin-bottom: 5px;
}

video {
  float: left;
  padding-left: 7px;
  margin-right: 8px;
  margin-bottom: 5px;
  max-width: 100%;
  margin-top: 0;
  padding: 0;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  padding-left: 7px;
}

p.list {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  padding-left: 7px;
  clear: both;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #0F2547;
}

h2 {
  color: #0F2547;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  border-bottom: 2px solid #0F2547;
  padding-bottom: 4px;
  clear: both;
}

h3 {
  font-size: 18.5px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #0F2547;
}

h3.nameline {
  font-size: 18.5px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  color: #0F2547;
}

li {
  font-size: 17px;
  text-align: left;
}

a:link {
    color: #000E2F;
}

a:visited {
    color: #8A2121;
}

a:hover {
    color: #7C878E;
}

a:active {
    color: #7C878E;
}
